/*Derived from https://www.w3schools.com/howto/howto_css_tooltip.asp*/
 
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */

  font-weight: normal;
}

/* Tooltip text */
.tooltip .tooltipText {
  visibility: hidden;
  width: 175px;
  background-color: #71A8FF;
  color: black;
  text-align: center;
  padding: 5px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  margin-left: -92px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltipText::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #71A8FF transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
} 